@import "./normalize.css";

body {
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
}

/* main container */
.container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

/* links in the upper-right of the page to go to Image Search or Advanced Search */
.header {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: #000;
}

.header > a {
  text-decoration: none;
  padding-right: 12px;
}
.header > a:hover {
  text-decoration: underline;
}
.header > img {
  position: relative;
  top: 10px;
  padding-right: 12px;
  width: 25px;
  height: 25px;
}
/*sign in button*/
.header > button {
  background: #4584ef;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 8px 14px;
  cursor: pointer;
}
.header > button:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

/* google search section */

.content {
  width: 35%;
  text-align: center;
  margin: 40px auto;
}
.content > img {
  padding: 20px;
  width: 60%;
}

input[type="text"] {
  width: 80%;
  padding: 10px 50px;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
}
input[type="text"]:focus{
    outline: none;
} 
input[type="text"]:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.icons {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -40px;
  left: 20px;
  pointer-events: none;

}

input[type="submit"] {
  padding: 10px;
  margin: 0 20px;
  color: #555;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  border: 1px solid #ccc;
}

/*language*/

.language {
    font-size: small;
    padding: 30px;
}

.language > a {
    text-decoration: none;
    color: #1a0dab;
}
.language > a:hover {
    text-decoration: underline;
}

/* About & Privacy*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
.country {
  height: 37px;
}
p {
  margin: 10px;
  margin-left: 30px;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.about {
  border-top: 1px solid #ccc;
  height: 50px;
}
.about > ul > li {
  list-style: none;
  padding: 10px;
  margin-right: 20px;
}
.about > ul > li:nth-child(1) {
  margin-left: -20px;
}
.about > ul > li > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.about > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
ul {
  display: flex;
}
